<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <div class="box-login">
                            <form autocomplete="off" action="/login" method="POST">
                                <h2>Sign in</h2>
                                <div
                                    class="inputBox <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>">
                                    <input type="text" name="email" id="email" required="required"
                                        value="<%= oldInput.email %>">
                                    <span>E-mail</span>
                                    <i></i>
                                </div>
                                <div
                                    class="inputBox <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>">
                                    <input type="password" name="password" id="password" required="required"
                                        value="<%= oldInput.password %>">
                                    <span>Password</span>
                                    <i></i>
                                </div>
                                <div class="links">
                                    <a href="/signup">Signup</a>
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="submit" value="Login">
                            </form>
                        </div>
            </main>
            <%- include('../includes/end.ejs') %>