<div class="backdrop"></div>
<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ml-3" href="/">QUẢN LÝ</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if (isAuthenticated) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= path === '/' || path === '/leaveday' ? 'active' : '' %>"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            CHẤM CÔNG
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item <%= path === '/' ? 'active' : '' %>"
              href="/"
              >ĐIỂM DANH</a
            >
            <a
              class="dropdown-item <%= path === '/checkleave' ? 'active' : '' %>"
              href="/checkleave"
              >NGHỈ PHÉP</a
            >
          </div>
        </li>
        <li class="nav-item <%= path === '/user' ? 'active' : '' %>">
          <a class="nav-link" href="/user">THÔNG TIN</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= path === '/report/salary' || path === '/report/daily' ? 'active' : '' %>"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            BÁO CÁO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item <%= path === '/report/daily' ? 'active' : '' %>"
              href="/report/daily"
              >HẰNG NGÀY</a
            >
            <a
              class="dropdown-item <%= path === '/report/salary' ? 'active' : '' %>"
              href="/report/salary"
              >LƯƠNG THÁNG</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= path === '/covid/temperature' || path === '/covid/vacxin' || path === '/covid/positive' ? 'active' : '' %>"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            COVID
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item <%= path === '/covid/temperature' ? 'active' : '' %>"
              href="/covid/temperature"
              >THÂN NHIỆT</a
            >
            <a
              class="dropdown-item <%= path === '/covid/vacxin' ? 'active' : '' %>"
              href="/covid/vacxin"
              >VACXIN</a
            >
            <a
              class="dropdown-item <%= path === '/covid/positive' ? 'active' : '' %>"
              href="/covid/positive"
              >BÁO NHIỄM</a
            >

            <% if (isManage) { %>
            <a
              class="dropdown-item <%= path === '/covid/reportcovid' ? 'active' : '' %>"
              href="/covid/reportcovid"
              >THÔNG TIN COVID</a
            >
            <% } %>
          </div>
        </li>
        <% if(isManage) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= path === '/manage/date' || path === '/manage/month' ? 'active' : '' %>"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            QUẢN LÝ
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item <%= path === '/manage/date' ? 'active' : '' %>"
              href="/manage/date"
              >THÔNG TIN NGÀY</a
            >
            <a
              class="dropdown-item <%= path === '/manage/month' ? 'active' : '' %>"
              href="/manage/month"
              >THÔNG TIN THÁNG</a
            >
          </div>
        </li>
        <% } %> <% } %>
      </ul>
    </div>
    <div class="main-headernav">
      <ul class="mr-auto">
        <% if (!isAuthenticated) { %>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/login' ? 'active' : '' %>"
            href="/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/signup' ? 'active' : '' %>"
            href="/signup"
            >Signup</a
          >
        </li>
        <% } else { %>
        <li class="nav-item">
          <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="nav-link main-nav-button" type="submit">
              Logout
            </button>
          </form>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
