<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/manage.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="report">
            <div class="grid">
                <article class="user-content">
                    <div class="manage_center manage_width">
                        <h2 class="mb-3 ml-4 user-name">
                            Quản lý: <%= user_manage.name %>
                        </h2>
                        <% if(user_manage.manage) { %>
                            <form action="/manage/user_chose_month" method="post">
                                <label id="active">Xem thông tin cấp dưới: </label>
                                <select class="form-control" id="user_chose" name="user_chose">
                                    <% for (let manage of user_manage.manage) { %>
                                        <option value="<%= manage._id %>" <% if (selected == manage._id ) {%>selected<% } %> >
                                            <%= manage.name %>
                                        </option>
                                        <% } %>
                                </select>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= user_manage._id %>" name="user_manage_id">
                                <button type="submit" class="btn btn-shimmer btn-primary mt-5">Kiểm tra thông tin</button>
                            </form>
                        <% } else { %>
                            <h3>Bạn chưa có cấp dưới</h3>
                        <% } %>
                    </div>
                    <% if(user_chose) { %>
                        <div class="report-input manage_center manage_month mt-5">
                            <form action="/manage/search_month" method="post">
                                <input type="month" name="month" id="month">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= user_manage._id %>" name="user_manage_id">
                                <input type="hidden" value="<%= user_chose._id %>" name="user_chose_id">
                                <button type="submit" class="btn-submit btn-shimmer btn-info">Chọn</button>
                            </form>
                            <details class="formCenter">
                                <summary>Hướng dẫn</summary>
                                <p>Điền từ vào ô input để chọn nơi làm việc và có thể chọn ngày muốn xem. Ấn tìm kiếm.</p>
                            </details>
                        </div>
                        <% if(prods.length> 0) { %>
                            <div class="centered mt-5">
                                <h4>Tháng: <%= month %>
                                </h4>
                                <h4>Đăng ký giờ nghỉ: <%= timeLeave %> giờ
                                </h4>
                                <h4>Tổng giờ đã làm: <%= user_chose.statusWork ? 'chưa kết thúc làm việc' : lastTotalTime %>
                                </h4>
                                <form action="/manage/success_user_chose" method="post">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="month" id="month" value="<%= month.split("/").reverse().join("/") %>">
                                    <input type="hidden" value="<%= user_chose._id %>" name="user_chose_id">
                                    <button type="submit" class="btn-submit btn-shimmer btn-success">Xác nhận dữ liệu</button>
                                </form> 
                            </div>
                            <table class="table mt-5">
                                <tr>
                                    <th>Nơi làm việc</th>
                                    <th>Ngày điểm danh</th>
                                    <th>Giờ vào</th>
                                    <th>Giờ ra</th>
                                    <th>Thực tế</th>
                                    <th>Tăng ca</th>
                                    <th>Xóa giờ làm</th>
                                </tr>
                                <% for (let work of prods) { %>
                                    <tr>
                                        <td>
                                            <% if (work.position==="Công ty" ) { %>Công ty<% } if (work.position==="Nhà" ) { %>
                                                    Nhà<% } if (work.position==="Khách hàng" ) { %>Khách hàng<% } %>
                                        </td>
                                        <td>
                                            <%= work.date.split("/").reverse().join("/") %>
                                        </td>
                                        <td>
                                            <%= work.start %>
                                        </td>
                                        <td>
                                            <%= work.end %>
                                        </td>
                                        <td>
                                            <%= work.workTime %>
                                        </td>
                                        <td>
                                            <%= work.overTime %>
                                        </td>
                                        <td>
                                            <form action="/manage/delwork_month" method="post">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <input type="hidden" value="<%= work._id %>" name="workId">
                                                <input type="hidden" value="<%= user_manage._id %>" name="user_manage_id">
                                                <input type="hidden" value="<%= user_chose._id %>" name="user_chose_id">
                                                <button type="submit" class="ml-4 
                                                    <% if ((!user_chose.statusWork || work._id.toString() !== user_chose.workId.toString()) && !lock) { %>
                                                        btn-danger
                                                    <% } %>" 
                                                    <% if ((user_chose.statusWork && work._id.toString() === user_chose.workId.toString()) || lock)  { %>
                                                        disabled
                                                    <% } %> >
                                                    Xóa
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                            </table>
                        <% } else { %>
                            <h1 class="centered mt-5">Nhân viên chưa làm việc!</h1>
                        <% } %>
                    <% } %>
                </article>
            </div>
            </main>
            <%- include('../includes/end.ejs') %>
    </body>