<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/report.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="grid mt-5">
            <article class="card__content">
                <h4 class="product__description">Quản lý:
                    <%= user.user_manage?.name %>
                </h4>
                <h4 class="product__description">ID Quản lý:
                    <%= user.user_manage?.user_manage_id %>
                </h4>
                <form action="/report/salary" method="POST">
                    <input type="month" name="month" id="month">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" value="<%= user._id %>" name="userId">
                    <button type="submit" class="btn-submit btn-shimmer btn-info">Chọn</button>
                </form>
                <% if (haveWork) { %>
                <table class=" mt-5">
                    <tr>
                        <td>Tháng</td>
                        <td><%= today %></td>
                    </tr>
                    <tr>
                        <td>Lương</td>
                        <td><%= salaryScale %> (đồng)</td>
                    </tr>
                    <tr>
                        <td>Số giờ làm</td>
                        <td><%= workTime %></td>
                    </tr>
                    <tr>
                        <td>Số giờ tăng ca</td>
                        <td><%= overTime %></td>
                    </tr>
                    <tr>
                        <td>Số giờ thiếu</td>
                        <td><%= enoughTime %> (giờ)</td>
                    </tr>
                </table>
                <% } %>
            </article>
        </div>
    </main>
<%- include('../includes/end.ejs') %></body>