<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="formCenter mt-3">
                    <% if(!user.statusWork) { %>
                        <form class="" action="/postWorkstart" method="POST">
                            <div class="">
                                <h3>Tên: <%= user.name %>
                                </h3>
                                <p>Bộ phận: <%= user.department %>
                                </p>
                                <label for="liveWork">Nơi làm việc</label>
                                <select class="form-control" id="liveWork" name="liveWork">
                                    <option value="Công ty">Công ty</option>
                                    <option value="Nhà">Nhà</option>
                                    <option value="Khách hàng">Khách hàng</option>
                                </select>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" value="<%= user._id %>" name="userId">
                            <button type="submit" class="<% if(!lock){ %>btn-shimmer btn-primary<% } %> mt-5" <% if(lock){ %>disabled<% } %>>Điểm danh vào làm</button>
                        </form>
                        <% } else { %>
                            <form class="" action="/postWorkend" method="POST">
                                <div class="">
                                    <h3>Tên: <%= user.name %>
                                    </h3>
                                    <p>Bộ phận: <%= user.department %>
                                    </p>
                                    <label for="liveWork">Nơi làm việc</label>
                                    <h4><i class="bi bi-caret-right-fill"></i>
                                        <% if (work.position==="Công ty" ) { %>Công ty
                                            <% } if (work.position==="Nhà" ) { %>Nhà
                                                <% } if (work.position==="Khách hàng" ) { %>Khách hàng
                                                    <% } %>
                                    </h4>
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= user._id %>" name="userId">
                                <input type="hidden" value="<%= work._id %>" name="workId">
                                <button type="submit" class="<% if(!lock){ %>btn-shimmer btn-primary<% } %> mt-5" <% if(lock){ %>disabled<% } %>>Điểm danh ra
                                    về</button>
                            </form>
                            <% } %>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>
    </body>